
<div class="header">
<nav class="navbar navbar-expand-sm navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'student_home' %}">
    <img style="width: 140px;" src="/static/img/logo_beta.png">
  </a>

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <!-- <li class="nav-item">
      <a class="nav-link" href="{% url 'student_home' %}">
        <div class="MuiListItemIcon-root-82 jss28"><svg class="MuiSvgIcon-root-84" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path></svg></div>
        Home
      </a>
    </li> -->
  </ul>
    <ul class="navbar-nav header_nav">
      <li>
        <span class="MuiBadge-root css-1c32n2y-MuiBadge-root">
          <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-ptiqhd-MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="BellIcon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path>
            </svg>
          </svg>
        </span>
      </li>
      <li class="nav_profile">
        <button class="profile_btn" type="button">
          <div class="profile">
            <img src="{{ user.students.display_image }}">
          </div>
        </button>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout </a>
      </li> -->
    </ul>
  </ul>
</nav>
</div>

