{% extends 'company_template/base.html' %}

{% block main_content %}



<div class="home_page">
	<section class="services-section">
        <div class="services-warp">
            <div class="container">
                <h3 class="page_title">General Information</h3>
                 {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
      <div class="form-group alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
      {% if message.tags == 'success' %}
      <div class="form-group alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
        {% endfor %}
      {% endif %}
                <div class="row" style="padding-top: 20px;">
                    <div class="col-lg-4 col-md-6">
                        <div data-wow-delay="0.3s" class="service-item wow animate__animated animate__flipInX">
                            <div class="si-head">
                                <div class="si-icon">
                                    <img src="/static/img/helmet.png" alt="">
                                </div>
                                <h5>Beta Career</h5>
                            </div>
                            <p>
                                Beta Career is a special course for fourth year students (or third year students coming after college) that covers all elective courses of the penultimate semester (the one before last) of a study program. Beta Career is optional and has its own requirements described in the next sections. The number of students that are admitted to Beta Career is limited.
                             </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div data-wow-delay="0.3s" class="service-item wow animate__animated animate__flipInX">
                            <div class="si-head">
                                <div class="si-icon">
                                    <img src="/static/img/cogwheel.png" alt="">
                                </div>
                                <h5>Goals</h5>
                            </div>
                            <p class="goeal_text">The goals of Beta Career are the following:</p>
                            <ul>
                                <li>To master technical and soft skills</li>
                                <li>To gain essential background knowledge</li>
                                <li>To build a network of contacts</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div data-wow-delay="0.3s" class="service-item wow animate__animated animate__flipInX">
                            <div class="si-head">
                                <div class="si-icon">
                                    <img src="/static/img/light-bulb.png" alt="">
                                </div>
                                <h5>Duration</h5>
                            </div>
                            <p>
                                The duration of Beta Career is 15 weeks. It starts in September 2020, and ends in December 2020.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div data-wow-delay="0.7s" class="service-item wow animate__animated animate__flipInX">
                            <div class="si-head">
                                <div class="si-icon">
                                    <img src="/static/img/pollution.png" alt="">
                                </div>
                                <h5>Types</h5>
                            </div>
                            <p class="goeal_text">
                                There are three types of Beta Career. Students can choose the one, which suits them, the most. They are the following:
                            </p>
                            <ul>
                                <li>Industrial Beta</li>
                                <li>Academic Beta</li>
                                <li>SDU Beta</li>
                            </ul>
                            <p class="goeal_text">Subsequent sections of this document describe each type of Beta Career in more detail.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div data-wow-delay="0.7s" class="service-item wow animate__animated animate__flipInX">
                            <div class="si-head">
                                <div class="si-icon">
                                    <img src="/static/img/pumpjack.png" alt="">
                                </div>
                                <h5>Grading Policy</h5>
                            </div>
                            <p>
                                Formative Assessment counts towards FA grade. Reports and Final Presentation count towards FIN grade.
                            </p>
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">Type</th>
                                  <th scope="col">Grade</th>
                                  <th scope="col">Grader</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Formative Assessment</td>
                                  <td>60</td>
                                  <td>Supervisor</td>
                                </tr>
                                <tr>
                                  <td>Reports</td>
                                  <td>15</td>
                                  <td>Coordinator</td>
                                </tr>
                                <tr>
                                  <td>Final Presentation</td>
                                  <td>25</td>
                                  <td>Coordinator</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div data-wow-delay="0.7s" class="service-item wow animate__animated animate__flipInX">
                            <div class="si-head">
                                <div class="si-icon">
                                    <img src="/static/img/wind-engine.png" alt="">
                                </div>
                                <h5>Limitations</h5>
                            </div>
                            <p class="goeal_text">For 2020-2021 academic year, the limitations are the following:
                            </p>
                            <ul>
                                <li>Total number of students for Beta Career - 150</li>
                                <li>Total number of students for Industrial Beta - 100</li>
                                <li>Total number of students for Academic and SDU Beta - 50</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




{% endblock %}