{% extends 'admin_template/base.html' %}

{% block main_content %}


<h3 class="mb-3">Company feedback</h3>

<div class="form-group mb-4">
      <label class="mb-0" style="flex: 2;font-size: 20px;color: #6b778c;">Filter feedback: </label>
    <div class="flex9">
    <a href="{% url 'student_messages' %}" class="btn btn-outline-primary ml-3">Student feedback</a>
    <a href="{% url 'staff_messages' %}" class="btn btn-outline-primary ml-3">Staff feedback</a>
    <a href="{% url 'company_messages' %}" class="btn btn-outline-primary ml-3">Company feedback</a>
    </div>
</div>

{% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
      <div class="form-group alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
      {% if message.tags == 'success' %}
      <div class="form-group alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
        {% endfor %}
      {% endif %}
 <table class="table">

    <thead>
      <tr>
        <th hidden>ID</th>
        <th>Company Name</th>
        <th>Sent on</th>
        <th>Message</th>
        <th>Reply</th>
      </tr>
    </thead>
    <tbody>
     {% for feedback in feedbacks %}
      <tr>
        <td hidden>{{ feedback.id }}</td>
        <td>{{ feedback.company_id.company.username }}</td>
        <td>{{ feedback.created_at|date:"M d, H:iA, Y"  }}</td>
        <td>{{ feedback.feedback_message }}</td>
        <td>
            {% if feedback.feedback_reply == "" %}
            <a href="" class="btn btn-sm btn-outline-primary reply_open_modal" data-toggle="modal" data-target="#myModal">Reply</a>
            {% else %}
            {{ feedback.feedback_reply}}
            {% endif %}
        </td>
      </tr>

     {% endfor %}
    </tbody>
  </table>

  <div class="modal fade mt-5" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Reply to <span id="reply_to"></span> </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         <input type="hidden" id="reply_id">
          <textarea class="form-control" rows="5" name="feedback" id="reply_message"></textarea>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
           <button type="button" class="btn btn-outline-primary" id="reply_button">Reply</button>
        </div>
      </div>
    </div>
  </div>
{% endblock main_content %}


{% block custom_js %}
<script>
    $(document).ready(function(){
        $(".reply_open_modal").click(function(){
            var id = $(this).parents("tr").children("td:eq(0)").text();
            var name = $(this).parents("tr").children("td:eq(1)").text();
            $("#reply_id").val(id);
            $("#reply_to").text(name);
        });
        $(document).on("click","#reply_button",function(){

                $(this).attr("disabled","disabled")
                $(this).text("Sending Reply...")

                var id=$("#reply_id").val();
                var message=$("#reply_message").val()

                $.ajax({
                        url:'{% url 'company_reply' %}',
                        type:'POST',
                        data:{id:id,message:message},
                    })
                    .done(function(response){
                        if(response=="True"){
                             alert("Reply Sent")
                        }
                        else{
                            alert("Error in Sending Reply")
                        }
                        location.reload()
                    })
                    .fail(function(){
                        alert("Error in Sending Reply")
                    })
           });

    });
</script>
{% endblock custom_js %}