{% extends 'admin_template/base.html' %}

{% block main_content %}

<div class="d-flex align-items-center justify-content-between mb-4">
    <h3>Manage Reports</h3>
    {% url 'add_report' as add_report %}
     <a href="{{ add_report }}" class="btn btn-outline-primary">Add report</a>
</div>

 <table class="table">
     {% if messages %}
        {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="form-group alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
       {% if message.tags == 'error' %}
      <div class="form-group alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
        {% endfor %}


      {% endif %}
    <thead>
      <tr>
        <th  style="min-width: 120px;">Report Name</th>
        <th>Report Details</th>
        <th>Due Date</th>
        <th style="min-width: 120px;">Action</th>
        <th>Submission Status</th>
      </tr>
    </thead>
    <tbody>
     {% for report in reports %}
      <tr>
        <td>{{ report.report_name }}</td>
        <td>{{ report.report_detail }}</td>
        <td>{{ report.due_date|date:"M d, H:iA, Y" }}</td>
        <td><a href="{% url 'edit_report' report_id=report.id %}">
            {% include 'admin_template/icons/edit_icon.html'%}
        </a>
           <a href="{% url 'delete_report' report_id=report.id %}">
               {% include 'admin_template/icons/delete_icon.html'%}
           </a>
        </td>
          <td><a href="{% url 'view_report' report_id=report.id %}" class="btn btn-sm btn-outline-primary">Check</a></td>
      </tr>
     {% endfor %}
    </tbody>
  </table>



{% endblock %}