{% extends 'admin_template/base.html' %}

{% block main_content %}

<h3 class="mb-4">Manage Registration</h3>


<form action="/set_end_date" method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="d-flex align-items-end">
    <div class="form-group col-5 p-0 flex-column align-items-start">
      <label >Choose end of registration date:</label>
      <input type="datetime-local" class="form-control"  name="expiry_date" value="{{exp_date.end_date|date:'Y-m-d\TH:i'}}">
    </div>
    <div class="form-group ml-3">
         <button type="submit" class="btn btn-outline-primary">Save date</button>
    </div>
    </div>

  </form>

<form method="get">
    <div class="d-flex mt-4">

    <div class="form-group flex-column align-items-start">
      <label for="id_student_id">Search by student ID</label>
        <input type="text" class="form-control" name="student_id" id="id_student_id">
    </div>

     <div class="form-group flex-column align-items-start ml-3">
      <label for="id_beta_type">Beta type:</label>
        <select class="form-control" name="beta_type" id="id_beta_type">
          <option value="">---------</option>
          <option value="SDU Beta">SDU Beta</option>
          <option value="Academic Beta">Academic Beta</option>
          <option value="Industrial Beta">Industrial Beta</option>
        </select>
     </div>

      <div class="form-group flex-column align-items-start ml-3">
      <label for="id_registration_status">Registrations status</label>
        <select class="form-control" name="registration_status" id="id_registration_status">
        <option value="">---------</option>
        <option value="0">Pending</option>
        <option value="1">Approved</option>
        <option value="2">Rejected</option>

    </select>
     </div>

        <div class="ml-3" style="padding-top:32px;">
    <button type="submit" class="btn btn-outline-primary">Search</button>
              </div>
         </div>
</form>

{% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
      <div class="form-group alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
      {% if message.tags == 'success' %}
      <div class="form-group alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
        {% endfor %}
      {% endif %}

 <table class="table mt-4">

    <thead>
      <tr>
        <th hidden>ID</th>
        <th>Student</th>
          <th>SDU ID</th>
        <th>Supervisor</th>
        <th>Beta type</th>
        <th>Agreement</th>
        <th>Status</th>
        <th style="min-width: 160px;">Action</th>
        <th width="10%">Reason</th>
      </tr>
    </thead>
    <tbody>
     {% for registration in registrations %}
      <tr>
          <td hidden>{{ registration.id }}</td>
        <td>{{ registration.student_id.student.last_name }} {{ registration.student_id.student.first_name }} </td>
          <td>{{ registration.student_id.student.username }}</td>
           {% if registration.supervisor_id.user_type == "2" %}
              <td>{{ registration.supervisor_id.last_name }} {{ registration.supervisor_id.first_name }}</td>
           {% elif registration.supervisor_id.user_type == "3" %}
              <td>{{ registration.supervisor_id.username }} / {{ registration.supervisor_id.last_name }} {{ registration.supervisor_id.first_name }}</td>
              {% endif %}
         <td>{{ registration.beta_type }}</td>
        <td><a href="{{ registration.agreement }}" download>Download</a></td>

          <td>
              {% if registration.registration_status == 0 %}
              Pending
              {% elif registration.registration_status == 1 %}
              Approved
              {% else %}
              Rejected
              {% endif %}
          </td>
        <td> {% if registration.registration_status == 0 %}
            <a href="{% url 'reg_approve' student_id=registration.student_id.id %}" class="btn btn-sm btn-outline-primary">Approve</a>
            <a href="{% url 'reg_reject' student_id=registration.student_id.id %}" class="btn btn-sm btn-outline-danger">Reject</a>
            {% elif registration.registration_status == 1 %}
            <a href="{% url 'reg_cancel' student_id=registration.student_id.id %}" class="btn btn-sm btn-outline-primary">Cancel approve</a>
            {% else %}
            <a href="{% url 'reg_cancel' student_id=registration.student_id.id %}" class="btn btn-sm btn-outline-primary">Cancel reject</a>
            {% endif %}
        </td>
          {% if registration.registration_status == 2 %}
          <td>
               {% if registration.reject_reason == "" %}
              <a href="" class="btn btn-outline-primary btn-sm reply_open_modal" data-toggle="modal" data-target="#myModal">Specify Reason</a>
                 {% else %}
             {{ registration.reject_reason}}
            {% endif %}
        </td>
          {% else %}
          <td></td>
          {% endif %}
      </tr>

     {% endfor %}
    </tbody>
  </table>

 <div class="modal fade mt-5" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Specify Reject Reason TO  <span id="reply_to"></span> </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         <input type="hidden" id="reply_id">
          <textarea class="form-control" rows="5" name="feedback" id="reply_message"></textarea>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
           <button type="button" class="btn btn-primary" id="reply_button">Reply</button>
        </div>
      </div>
    </div>
  </div>

<div class="d-flex justify-content-center">
{% if registrations.has_previous %}
        <a href="{% url 'manage_registration' %}?page=1" class="btn btn-outline-primary">First</a>
        <a href="{% url 'manage_registration' %}?page={{ registrations.previous_page_number }}" class="btn btn-outline-primary">Previous Page</a>
{% endif %}
{% if registrations.paginator.page_range|length > 1%}
{% for num in registrations.paginator.page_range %}
    {% if registrations.number == num %}
         <a href="{% url 'manage_registration' %}?page={{ num }}" class="btn btn-primary">{{ num }}</a>
    {% elif num > registrations.number|add:'-3' and num < registrations.number|add:'3' %}
        <a href="{% url 'manage_registration' %}?page={{num}}" class="btn btn-outline-primary">{{num}}</a>
    {% endif %}
{% endfor %}
  {% endif %}
{% if registrations.has_next %}
         <a href="{% url 'manage_registration' %}?page={{ registrations.next_page_number }}" class="btn btn-outline-primary">Next Page</a>
         <a href="{% url 'manage_registration' %}?page={{ registrations.paginator.num_pages }}" class="btn btn-outline-primary">Last</a>
{% endif %}
</div>

{% endblock %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        $(".reply_open_modal").click(function(){
            var id = $(this).parents("tr").children("td:eq(0)").text();
            var name = $(this).parents("tr").children("td:eq(1)").text();
            $("#reply_id").val(id);
            $("#reply_to").text(name);
        });
        $(document).on("click","#reply_button",function(){
                $(this).attr("disabled","disabled")
                $(this).text("Sending Reply...")

                var id=$("#reply_id").val();
                var message=$("#reply_message").val()
                $.ajax({
                        url:'{% url 'reject_reply' %}',
                        type:'POST',
                        data:{id:id,message:message},
                    })
                    .done(function(response){
                        if(response=="True"){
                             alert("Reply Sent")
                        }
                        else{
                            alert("Error in Sending Reply")
                        }
                        location.reload()
                    })
                    .fail(function(){
                        alert("Error in Sending Reply")
                    })
           });

    });
</script>
{% endblock custom_js %}