{% extends 'admin_template/base.html' %}

{% block main_content %}

<div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-4">{{ report_id.report_name }}</h3>
    <div>
        <a href="{% url 'manage_report' %}" class="btn btn-outline-primary" style="margin-right: 3px;">Back</a>
    </div>
</div>

<form method="get">


    <div class="d-flex">
        <div class="form-group align-items-start flex-column">
            <label for="id_student_id">Search by student ID</label>
            <input type="text" class="form-control" name="student_id" id="id_student_id" style="padding: 9px;">
        </div>
        <div class="ml-3" style="padding-top:32px;">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </div>
</form>

 <table class="table">
     {% if messages %}
        {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="form-group alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
       {% if message.tags == 'error' %}
      <div class="form-group alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
        {% endfor %}

      {% endif %}
    <thead>
      <tr>
        <th>Student</th>
          <th>ID</th>
          <th>Reference</th>
        <th >Status</th>
        <th width="12%">Grade</th>
      </tr>
    </thead>

    <tbody>
{% for report in reports %}
      <tr>


<td>{{report.student_id.student.last_name}} {{report.student_id.student.first_name}} </td>

          <td>{{report.student_id.student.username}} </td>

          <td>
              {% if report.submission_status != 0 %}
              <a class="alert-link alert-primary" href="{{report.references}}" target="_blank">Reference</a>
              {% endif %}
          </td>

          <td>
        {% if report.submission_status == 1 %}
              Submitted
          {% elif report.submission_status == 2 %}
              Graded
              {% endif %}
            </td>

             <form action="/set_grade" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
          <td>

                    <input type="hidden" class="form-control"  name="submit_id" value="{{ report.id }}">
                    <input type="hidden" class="form-control"  name="report_id" value="{{ report_id.id }}">

                         {% if report.submission_status == 1 %}
                   <input type="number"  class="form-control" name="grade" value="{{ report.grade }}" min="0" max="100">
                        {% elif  report.submission_status == 2%}
                    <input type="number" class="form-control" name="grade" value="{{ report.grade }}" min="0" max="100">

                     {% endif %}
          </td>
                   {% endfor %}
                 {% if reports %}
        <div class="form-group">
    <button type="submit" class="btn btn-outline-primary d-flex ml-auto minus-margin">Save Grade</button>
       </div>
                  {% endif %}
           </form>

      </tr>

    </tbody>
  </table>

{% endblock %}

{% block custom_js %}
<script>


    </script>
{% endblock custom_js %}