{% extends 'registration/base.html' %}


{% block main_content %}

   {% if validlink %}
    <form method="post" class="form_change_password">
      {% csrf_token %}
      <h2 class="login_page_title">Forgot Password</h2>
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          <input class="form-control" type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" required>
        </div>
        <label class="text-danger"> {{ field.errors }}</label>
      {% endfor %}
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Change password</button>
      </div>
    </form>
      {% else %}
        <p class="login_done_text error">
          The password reset link was invalid, possibly because it has already been used.  Please request a new password reset. 
        </p>
        <div class="form-group" style="text-align: center;">
          <a href="/accounts/password_reset/" class="btn-outline-danger login_done_text">Reset Page</a>
        </div>
     {% endif %}
{% endblock %}